*{
    background-color: rgb(0, 3, 12);
    color: #39ff14;
}

body{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    padding: 10px;
}

h4{
    font-size: 25px;
    margin-top: 10;
}

.bar{
  background-color: #39ff14;
  margin: 0px;
}

.contents{
  display: flex;
  border: solid rebeccapurple;

}

/*Animation*/
.typing h1 {
    overflow: hidden;
    border-right: solid #39ff14; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #39ff14; }
  }

